.gradle/
.gradle-home/
.kotlin/
.android-avd/
.idea/
build/
dist/
tmp/
local.properties
keystore.properties
keystores/
captures/
externalNativeBuild/

app/build/
app/.cxx/

.DS_Store
*.apk
*.aab
*.ap_
*.iml
